/* @import url('https://fonts.cdnfonts.com/css/gotham-6'); */

@font-face {
  font-family: 'Gotham Medium'; /*a name to be used later*/
  src: url('assets/fonts/Gotham-Font/GothamMedium.ttf'); /*URL to font*/
}

@font-face {
  font-family: 'Gotham Light'; /*a name to be used later*/
  src: url('assets/fonts/Gotham-Font/GothamLight.ttf'); /*URL to font*/
}

@font-face {
  font-family: 'Gotham Bold'; /*a name to be used later*/
  src: url('assets/fonts/Gotham-Font/GothamBold.ttf'); /*URL to font*/
}

@font-face {
  font-family: 'Birthstone'; /*a name to be used later*/
  src: url('assets/fonts/Birthstone-Font/Birthstone-Regular.ttf'); /*URL to font*/
}



html,body,#root {
  margin: 0;
  height: 100%;
  width: 100%;
}