.checkbox-wrapper{
    width: 100%;
}

.checkbox-wrapper label
{
    display: flex;
    align-items: center;
    font-family: 'Gotham Light';
    font-size: 20px;
    color: #6B6B6B;
}


.checkbox-wrapper input[type="checkbox"] {
    /* removing default appearance */
    -webkit-appearance: none;
    appearance: none;
    /* creating a custom design */
    width: 20px;
    height: 20px;
    border-radius: 50%;
    /* margin-right: 0.5em; */
    border: 1px solid #AEAEAE;
    outline: none;
    cursor: pointer;
  }


  input:checked {
    /* background-color: #007a7e; */
    position: relative;
  }
  
  input:checked::before {
    content: "\2714";
    font-size: 25px;
    color: #AEAEAE;
    position: absolute;
    /* right: 1px; */
    top: -10px;
  }


  .checkbox-wrapper span {
    margin-left: 2%;
  }


  
  .checkbox-wrapper input[type="text"] {
    margin-left: 2%;
    border:0px;
    border-bottom: 1px solid  #6B6B6B;
    width: 90%;
    color: #6B6B6B;
    font-family: 'Gotham Light';
    font-size: 20px;
    text-overflow: ellipsis;
    width: 90%;
  }


  .checkbox-wrapper input[type="text"]:focus {
    border:0px;
    border-bottom: 1px solid  #6B6B6B;
    outline: none;
  }
