.new-entry-page
{
    height: fit-content;
    width: 100%;

}

.new-entry-page form{
    width:100%;
    display: grid;
    grid-template-rows: 300px 300px 500px 300px 400px ;
    grid-template-columns: 5% 45% 45% 5%;
    row-gap: 3%;
}

.new-entry-page .new-entry-page-title
{
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 2;
    grid-column-end: 3;
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-rows: 10% 20% 50% 20%;
    grid-template-columns: 100%;
    color: #6B6B6B;
}

.new-entry-page .new-entry-page-title .date-field
{
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 1;
    grid-column-end: 2;
    font-size: 30px;
    font-family: 'Gotham Medium';
}

.new-entry-page .new-entry-page-title .title-field
{
    grid-row-start: 3;
    grid-row-end: 4;
    grid-column-start: 1;
    grid-column-end: 2;
    font-size: 70px;
    font-family: 'Gotham Bold';

}

.new-entry-page .top-priorites-panel
{
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 3;
    grid-column-end: 4;
    height: 100%;
    width: 100%;
    color: #6B6B6B;
    font-size: 30px;
    display: grid;
    grid-template-columns: 40% 60%;
    grid-template-rows: 5% 20% 70% 5%;
}

.new-entry-page .top-priorites-panel .top-priorities-panel-title
{
    height: 100%;
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 2;
    grid-column-end: 3;
    display: flex;
    align-items: center;
    font-family: 'Gotham Medium';

}

.new-entry-page .top-priorites-panel .top-priorities
{
    height: 100%;
    grid-row-start: 3;
    grid-row-end: 4;
    grid-column-start: 2;
    grid-column-end: 3;
    display: grid;
    grid-template-rows: 33% 33% 33%;
    padding-top: 5%;

}

.new-entry-page .top-priorites-panel .top-priorities .priority
{
    display: flex;
    align-items: center;

}

.new-entry-page .gratitude-panel
{
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 2;
    grid-column-end: 3;
    height: 100%;
    width: 100%;
    color: #6B6B6B;
    font-size: 30px;
}

.new-entry-page .gratitude-panel .gratitude-panel-title
{
    height: 20%;
    display: flex;
    align-items: center;
    font-family: 'Gotham Medium';

}

.new-entry-page .gratitude-panel .gratitude-items-list
{
    height: 80%;
    font-family: 'Gotham Light';
}

.new-entry-page .gratitude-panel .gratitude-items-list
{
    height: 80%;
    font-family: 'Gotham Light';
    padding: 2%;
}

.new-entry-page .gratitude-panel .gratitude-items-list .gratitude-item
{
    width: 90%;
    height: 33%;
    display: flex;
    align-items: center;
    position: relative;
}

.new-entry-page .gratitude-panel .gratitude-items-list .gratitude-item input
{
    position: absolute;
    left: 30px;
    border:0px;
    border-bottom: 1px solid  #6B6B6B;
    width: 60%;
    color: #6B6B6B;
    font-family: 'Gotham Light';
    font-size: 20px;
    text-overflow: ellipsis;
}

.new-entry-page .gratitude-panel .gratitude-items-list .gratitude-item input:focus
{
    border:0px;
    border-bottom: 1px solid  #6B6B6B;
    outline: none;
}


.new-entry-page .notes-panel
{
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 3;
    grid-column-end: 4;
    height: 100%;
    /*width: 100%;*/
    color: #6B6B6B;
    font-size: 30px;
    padding-left: 26%;
}


.new-entry-page .notes-panel .notes-panel-title
{
    height: 10%;
    display: flex;
    align-items: center;
    font-family: 'Gotham Medium';

}

.new-entry-page .notes-panel .notes
{
    height: 90%;
    font-family: 'Gotham Light';
    display: flex;
    align-items:end;
    position: relative;

}

.new-entry-page .notes-panel .notes textarea{
    width: 500px;
    height: 90%;
    -webkit-box-shadow: 8px 11px 13px -7px rgba(74, 74, 79, 1);
    -moz-box-shadow: 8px 11px 13px -7px rgba(74, 74, 79, 1);
    box-shadow: 8px 11px 13px -7px rgba(74, 74, 79, 1);
}

.new-entry-page .notes-panel .notes img{
    position: absolute;
    top:0;
    left: 490px;
    width: 35px;
    height: 35px;
}




.new-entry-page .emoticons-panel-container
{
    grid-row-start: 3;
    grid-row-end: 4;
    grid-column-start: 2;
    grid-column-end: 4;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}



.new-entry-page .tasks-panel
{
    grid-row-start: 4;
    grid-row-end: 5;
    grid-column-start: 2;
    grid-column-end: 3;
    height: 100%;
    width: 100%;
    color: #6B6B6B;
    font-size: 30px;
}

.new-entry-page .tasks-panel .tasks-panel-title
{
    height: 10%;
    display: flex;
    align-items: center;
    font-family: 'Gotham Medium';

}

.new-entry-page .tasks-panel .tasks
{
    height: 90%;
    display: grid;
    grid-template-rows: 16% 16% 16% 16% 16% 16%;
    padding-top: 5%;
}

.new-entry-page .tasks-panel .tasks .task
{
    display: flex;
    align-items: center;
    width: 65%;
}

.new-entry-page .food-panel-container
{
    grid-row-start: 4;
    grid-row-end: 5;
    grid-column-start: 3;
    grid-column-end: 4;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

}


.new-entry-page .exercise-panel-container
{
    grid-row-start: 5;
    grid-row-end: 6;
    grid-column-start: 2;
    grid-column-end: 4;
    display: flex;
    align-items: center;
    height: 100%;
    width: 100%;

}


.new-entry-page .exercise-panel-container .exercise-panel
{
    width: 90%;
    height:90%;
    display: flex;
    align-items: center;
 
}

.new-entry-page .exercise-panel-container .exercise-icon
{
    height: 80%;
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.new-entry-page .exercise-panel-container .exercise-icon img
{
    width: 150px;
    height: 150px;
}

.lamp-icon
{
    position:absolute;
    top:0;
    width: 160px;
    height: 250px;
    left:50%;
    z-index: -1;
    opacity: 0.7;
}

.lamp-icon1
{
    position:absolute;
    top:0;
    width: 75px;
    height: 120px;
    left:0.5%;
    opacity: 0.5;
    z-index: -1;
}

.lamp-icon2
{
    position:absolute;
    top:0;
    width: 100px;
    height: 150px;
    right:0;
    opacity: 0.6;
}


.lamp-icon3
{
    position:absolute;
    top:0;
    width: 50px;
    height: 80px;
    left:60%;
    opacity: 0.2;
}


.lamp-icon4
{
    position:absolute;
    top:0;
    width: 50px;
    height: 80px;
    left:30%;
    opacity: 0.6;
}

.lamp-icon5 
{
    position:absolute;
    top:0;
    width: 175px;
    height: 275px;
    left:15%;
    opacity: 0.1;
    z-index: -1;
}

.lamp-icon6 
{
    position:absolute;
    top:0;
    width: 100px;
    height: 150px;
    left:42%;
    opacity: 0.3;
    z-index: -1;
}

.lamp-icon7 
{
    position:absolute;
    top:0;
    width: 60px;
    height: 90px;
    left:85%;
    opacity: 0.3;
    z-index: -1;
}


.save-the-day{
    position: absolute;
    top:13.5%;
    left:49.5%;
    font-size: 20px;
    font-family: 'Gotham Medium';
    color: #886e5c;
    width: 175px;
    height: 175px;
    border-radius: 50%;
    background-color: #f9c3a1;
    -webkit-box-shadow:6px 12px 8px -1px rgba(211, 211, 211, 1);
    -moz-box-shadow: 6px 12px 8px -1px rgba(211, 211, 211, 1);
    box-shadow:  6px 12px 8px -1px rgba(211, 211, 211, 1);
    border: 1px solid #fcb487;
    display: flex;
    align-items: center;
    justify-content: center;
    text-shadow: 1px 1px 3px #9c8d81;
    transition: 0.5s;

}


.save-the-day input{
    border:0px;
    font-size: 20px;
    font-family: 'Gotham Medium';
    color: #886e5c;
    background-color: #f9c3a1;

}



.save-the-day:hover{
    position: absolute;
    /* top:13.5%;
    left:49%; */
    font-size: 20px;
    font-family: 'Gotham Medium';
    color: #886e5c;
    /* width: 200px;
    height: 200px; */
    border-radius: 50%;
    background-color: #f9c3a1;
    -webkit-box-shadow:0px 10px 35px 20px rgb(243, 208, 192),
    6px 12px 8px -1px rgba(211, 211, 211, 1);
    -moz-box-shadow:  0px 10px 35px 20px rgb(243, 208, 192),
    6px 12px 8px -1px rgba(211, 211, 211, 1);
    box-shadow:  0px 10px 35px 20px rgb(243, 208, 192),
    6px 12px 8px -1px rgba(211, 211, 211, 1);
    border: 1px solid #fcb487;
    display: flex;
    align-items: center;
    justify-content: center;
    text-shadow: 1px 1px 3px #9c8d81;
    transition: 0.5s;
}